[Unit]
Description=Food Data Collector Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/sd_food_autorun.py -conf /etc/odoo/odoo_food_devices.conf

StandardInput=tty-force

[Install]
WantedBy=multi-user.target